name: build

on:
  push:
    branches:
      - main

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      # - name: Set up QEMU
      #   uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker hub
        uses: docker/login-action@v1
        with:
          username: cappuc
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ matrix.tag }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-${{ matrix.tag }}

      - name: Build docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          # platforms: ${{ matrix.platforms }}
          cache-from: |
            type=local,src=/tmp/.buildx-cache
            keepsuit/protoc:latest
          cache-to: type=local,dest=/tmp/.buildx-cache,mode=all
          push: true
          tags: |
            keepsuit/protoc:latest